// Your footer style
#footer{
  background-color: rgb(40, 40, 40);
  padding: 30px;
  font-size: 50px;
  color: white;

  a{
    color: white;

    &:hover{
    color: red;
    }
  }

  li{
    padding: 10px;
    color: white;
  }

  p{
    font-weight: 300;
    font-size: 15px;
  }
}

